body {
    font-family: Helvetica, sans-serif;
}

#tetris {
    margin: 1em auto;
    padding: 1em;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #F8F8F8;
}

#stats {
    display: inline-block;
    vertical-align: top;
}

#canvas {
    display: inline-block;
    vertical-align: top;
    background: url(../img/texture.jpg);
    box-shadow: 10px 10px 10px #999;
    border: 2px solid #333;
}

#menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#menu p {
    margin: 0.5em 0;
    text-align: center;
}

#menu p a {
    text-decoration: none;
    color: black;
}

#upcoming {
    display: block;
    margin: 0 auto;
    background-color: #E0E0E0;
}

#score {
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

#rows {
    color: blue;
    font-weight: bold;
    vertical-align: middle;
}

#stats {
    position: absolute;
    bottom: 0em;
    right: 1em;
}

.hide{
    display:none;
}

.home-link > div{
    text-transform: uppercase;
}

.prec, .suiv{
    cursor: pointer;
}

#home{
    border:1px solid;
    text-align: center;
}

#home > h1 {
    text-transform: uppercase;
}

#play,#prec,#suiv,#highscore-link, #back-home {
    cursor : pointer;
}