body {
    font-family: Helvetica, sans-serif;
}

a,
button {
    cursor: pointer;
}

button {
    border: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #00c4ff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#tetris {
    margin: 1em auto;
    padding: 1em;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #F8F8F8;
}

#stats {
    display: inline-block;
    vertical-align: top;
}

#canvas {
    display: inline-block;
    vertical-align: top;
    background: url(../img/texture.jpg);
    box-shadow: 10px 10px 10px #999;
    border: 2px solid #333;
}

#menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#menu p {
    margin: 0.5em 0;
    text-align: center;
}

#menu p a {
    text-decoration: none;
    color: black;
}

#upcoming {
    display: block;
    margin: 0 auto;
    background-color: #E0E0E0;
}

.modal {
    width: 450px;
    height: 400px;
    background-color: rgba(237, 231, 246, 0.9);
    position: absolute;
    top: 25%;
    left: 37vw;
    z-index: 1000000;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
}

.wrapper h1 {
    align-self: center;
    justify-self: center;
}

.wrapper>div {
    justify-self: center;
}

#score {
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

#rows {
    color: blue;
    font-weight: bold;
    vertical-align: middle;
}

#stats {
    position: absolute;
    bottom: 0em;
    right: 1em;
}

.hide {
    display: none;
}

.home-link>div {
    text-transform: uppercase;
}

.prec,
.suiv {
    cursor: pointer;
}

#home {
    border: 1px solid;
    text-align: center;
}

#home>h1 {
    text-transform: uppercase;
}

#play,
#prec,
#suiv,
#highscore-link,
#back-home {
    cursor: pointer;
}

#fleche,
#contour {
    stroke-width: 2px;
}

#retourMenu:hover #fleche,
#retourMenu:hover #contour {
    fill: white;
    stroke: white;
}